@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
    z-index: 100;
}
.title{
    font-size: 35px;
    font-weight: 900;
    color: #1f8a70;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1f8a70;
    padding: 10px 28px;
    border-radius: 20px;
}
.navbar li{
    list-style-type:none;
}
.navbar li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    margin: 40px;
}
.navbar li a:hover{
    color: #000;
    font-size: 20px;
}
.home{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10%;
    background-color: #dde6ed;
    opacity: 1;
}
.left-content h3,h1{
    font-size:60px;
    font-weight: 900;
    color: #000;
    margin: 10px;
    letter-spacing: 1px;
}
.left-content p{
    font-size: 18px;
    color: #000;
    margin: 10px;
}
.btn{
    display: inline-block;
    font-size: 30px;
    font-weight: 700;
    padding: 10px 28px;
    margin-top: 15px;
    text-decoration: none;
    letter-spacing: 2px;
    background-color: #1f8a70;
    color: #fff;
    border-radius: 25px;
}
.btn:hover{
    background-color: #f6ba6f;
    color: #000;
}
.right-content img{
    max-width: 500px;
    width: 400px;
    border-radius: 20px;
}
@media screen and (max-width:748px) {
    .navbar{
        visibility: hidden;
    }
    .navbar li a{
       margin: 10px; 
    }
    .home{
        flex-direction: column;
        justify-content: center;
    }
    .left-content h3,h1{
        font-size: 28px;
        font-weight: 600;
    }
    .left-content p{
        font-size: 13px;
    }
    .btn{
        font-size: 20px;
        padding: 5px 10px;
    }
    .right-content img{
        max-width: 250px;
        height: 300px;
        margin-top: 10px;
    }
}
@media screen and (min-width:768px) and (max-width:1024px){
    .navbar{
        padding: 10px 10px;
    }
    .navbar li a{
        margin: 15px;
    }
    .left-content h3,h1{
        font-size: 45px;
        font-weight: 700;
    }
    .left-content p{
        font-size: 19px;
    }
    .btn{
        font-size: 25px;
    }
    .right-content img{
        max-width: 300px;
    }

}
